---
import Link from "../../components/Link.astro";
import MainLayout from "../../layouts/MainLayout.astro";
---

<MainLayout title="À propos" description="À propos de Nicolas et du but de ce site.">
    <section class="container about" aria-label="À Propos De Moi">
        <img 
            src="/nicolasrabreau.jpeg" 
            alt="Mon portrait" 
        />
        <div class="content">
            <h1 class="h1">À propos de moi</h1>
            <p>
                Bonjour ! Je suis doctorant en technologies quantiques, passionné par les technologies modernes, la confidentialité et les systèmes de bas niveau. J'aime me plonger dans les défis techniques et je m'efforce constamment d'élargir mes connaissances.
            </p>
            <p>
                J'ai créé ce site non seulement comme un portfolio, mais pour tirer la sonnette d'alarme sur la perte de contrôle des outils que nous utilisons au quotidien. La vie privée, ce n'est pas seulement se cacher — c'est une question de contrôle et de liberté. Mon but avec le <strong>Guide Numérique</strong> est d'aider chacun à comprendre l'environnement qui nous entoure, du matériel que nous achetons aux logiciels que nous utilisons, ainsi que les philosophies des entreprises de la tech qui façonnent notre avenir.
            </p>
            <div style="margin-top: var(--space-sm);">
                <Link
                    href="mailto:nicolas.rabreau@grenoble-inp.org"
                    style="secondary"
                    text="Me contacter"
                />
            </div>
        </div>
    </section>
</MainLayout>