---
//components imports
import Link from "../components/Link.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="About" description="My about page">
    <section class="Container about" aria-label="About Me">
        <img 
            src="/nicolasrabreau.jpeg" 
            alt="My headshot" 
            width="200" 
            height="200" 
        />
    
    
        <div class="content">
            <h1 class="h1"> About me </h1>
            <p>
            Hello! I'm a microelectronics and quantum physics engineer with a strong interest in modern technologies, privacy, and low-level systems. I enjoy diving deep into technical challenges and constantly strive to expand my knowledge.
            </p>
        </div>
        <Link
            href="mailto:nicolas.rabreau@grenoble-inp.org"
            style="secondary"
            text="Contact me"
            />
    </section>
</MainLayout>