---
//components imports
import Link from "../components/Link.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="About" description="My about page">
    <section class="Container about" aria-label="About Me">
        <img 
            src="/images/headshot.jpg" 
            alt="My headshot" 
            width="200" 
            height="200" 
        />
    
    
        <div class="content">
            <h1 class="h1"> About me </h1>
            <p>
                Hello! I'm a web developer with a passion for creating beautiful and functional websites. 
            I love working with modern technologies and always strive to improve my skills.
            </p>
        </div>
        <Link
            href="mailto:nicolas.rabreau@grenoble-inp.org"
            style="secondary"
            text="Contact me"
            />
    </section>
</MainLayout>