---

//components imports
import MainLayout from "../layouts/MainLayout.astro";


---

<MainLayout title="About Us" description="Learn more about our company and team.">
<p>About Page</p>
</MainLayout>