---
//components imports
import MainLayout from "../layouts/MainLayout.astro";

const isRed = true;
---

<MainLayout title="My Portfolio" description="Welcome to my portfolio page. Here you can find my projects and skills.">
<p>
    Hi, I’m Nicolas, an engineering student from Phelma passionate about quantum technologies, privacy, and low-level systems.
    Currently interning at EPFL in cryo quantum hardware.
</p>
</MainLayout>

