---
---

<footer>    
    <small>
        Copyright &copy; <span id="copyright"></span> | All rights reserved.
    </small>
</footer>

<script>
    const copyrightEl = document.querySelector("#copyright");
    if (copyrightEl) {
        copyrightEl.textContent = new Date().getFullYear().toString();
    }
</script>