---
import { Icon } from 'astro-icon/components';
import Link from './Link.astro';
import LangSwitcher from './LangSwitcher.astro';
import navData from '../data/navData';

const path = Astro.url.pathname; 
// assume the path starts with /en/ or /fr/
const lang = path.startsWith("/fr/") ? "fr" : "en"; 
const navItems = navData[lang];
---

<nav aria-label="Primary">
  <div class="navbar">
    <a href="/" class="logomark" aria-label="Go home" style="color: hsl(var(--accent));">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
    </a>
    <ul>
      {navItems.map((item) => (
        <Link 
          text={item.name}
          href={item.path}
          style="primary"
          isFilled={false}
        />
      ))}

      <!-- Language switcher -->
      <li>
        <LangSwitcher />
      </li>
    </ul>
  </div>
</nav>

<script>
  import "../js/nav.js"; 
</script>

<style>
.navbar ul {
  display: flex;
  align-items: center; /* centers both text links and flag */
  gap: 1rem;
}
</style>
