---
// library imports
import { Image } from 'astro:assets';

// Astro component imports
const {title, image} = Astro.props;
---

<header>
  <div class="container">
    <h1 class="h2" style="margin-bottom: var(--space-sm);">{title}</h1>
    <hr class="section-separator" style="margin-top: 0; margin-bottom: var(--space-md); max-width: 800px; margin-inline: auto;" />
  </div>

  <!--
  <Image
    src={image.src}
    alt={image.alt}
    width={1200}
    height={600}
    format="avif"
    fit="cover"
    quality={80}
    class="hero-image"
  />
  -->
</header>
