---
//components imports
import MainLayout from "../../layouts/MainLayout.astro";
---

<MainLayout title="Projects Page">
    <ul>
        <li>
            <a href="projects/post-1/">Project 1</a>
        </li>
        <li>
            <a href="projects/post-2/">Project 2</a>
        </li>
        <li>
            <a href="projects/post-3/">Project 3</a>
        </li>
        <li>
            <a href="projects/post-4/">Project 4</a>
        </li>
        <li>
            <a href="projects/post-5/">Project 5</a>
        </li>
        <li>
            <a href="projects/post-6/">Project 6</a>
        </li>
    </ul>
</MainLayout>