---
import MainLayout from "../../../layouts/MainLayout.astro";
import Timeline from "../../../components/Timeline.astro";

const studiesRaw = await Astro.glob("./*.md");

const studies = studiesRaw.map(study => ({
  title: study.frontmatter.title,
  url: study.url,
  date: study.frontmatter.date,
  description: study.frontmatter.description,
}));
---

<MainLayout title="My Education">
  <section class="education">
    <h1 class="h1" style="margin-bottom: 3rem;">My Education</h1> <!-- espace assez grand sous le titre -->
    <Timeline items={studies} />
  </section>
</MainLayout>
